.form-sessao {
  .button-sessao-auxiliar {
    background-color: #ffa90f !important;
  }
  .react-datepicker__day--keyboard-selected:not(
      .react-datepicker__day--selected
    ) {
    background-color: transparent !important;
    color: inherit !important;
  }
  .react-datepicker__day--selected {
    background-color: #0d6efd !important;
    color: #fff !important;
  }
}

.setas-muda-posicao{
  margin-right: 10px;
}
