.before-title {
    padding: 0 2.5rem 2.5rem 2.5rem;
    gap: 1rem;
}

.title-div {
    gap: 1.25rem;
    border-bottom: 0.1rem solid #000000;
    padding-bottom: 1.25rem;
}

.title-text {
    line-height: 2rem;
    font-size: 2rem;
}

.first-subtitle {
    font-size: 1.125rem;
    gap: 0.5rem;
}

.second-subtitle {
    gap: 1rem;
}

.avaliar-button {
    border: none;
    border-radius: 1.563rem;
    color: #FFA90F;
    padding: 0.313rem 1.875rem;
    background-color: white;
    font-size: 1.125rem;
}

.avaliar-button:hover {
    background-color: #FFA90F;
    color: white;
}

.calendar-div {
    gap: 1rem;
}

.calendar-text {
    background-color: #F17F0C;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
}

.link-text {
    border-radius: 1.5rem;
    color: #FFA90F;
    padding: 0.25rem 1.5rem;
    font-size: 1.25rem;
}

.abstract-text {
    text-align: justify;
}

h3{
  max-width: 300px;
}

@media (max-width: 1000px) {
  .before-title {
    padding: 0 1.5rem 1.5rem 1.5rem;
    gap: 0.75rem;
  }

  .title-div {
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .title-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .first-subtitle,
  .avaliar-button {
    font-size: 1rem;
  }

  .link-text {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }
}

@media (max-width: 500px) {
  .before-title {
    padding: 0 0.5rem 1rem 0.5rem;
    gap: 0.5rem;
  }

  .title-div {
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .title-text {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  .first-subtitle,
  .avaliar-button {
    font-size: 0.9rem;
  }

  .link-text {
    font-size: 0.9rem;
    padding: 0.15rem 0.5rem;
  }

  .calendar-text {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }
}
