.contatoWrapper{
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato{
  width: 80%;
  display: flex;
    gap: 2rem;

}
.containerContato{
  width: 100%;
  .formContatoWrapper{
    padding: 2rem !important;
  }
}

@media (max-width:480px) {
  .contato {
    flex-direction: column !important;
    padding-right: 0 !important;
  }
}