PORT=3001
FRONTEND_URL=http://localhost:3000

POSTGRES_DB=wepgcomp
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
DATABASE_URL="postgresql://root:root@localhost:5432/wepgcomp"

JWT_SECRET=jwtsecret

SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@yourdomain.com

ORGANIZER_EMAIL=wepgcompportal@gmail.com

UPLOAD_RATE_LIMIT_TTL=300000000
UPLOAD_RATE_LIMIT_LIMIT=100
UPLOAD_RATE_LIMIT_BLOCKDURATION=500000