ul {
  gap: 0.9rem;
}

@keyframes slidNavBrand {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

.navbar-brand {
  animation: 3s forwards 0s 1 slidNavBrand;
  position: relative;
  margin: auto;
}

#navbarSupportedContent{
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}
.container-brand-edition {
  display: flex;
  align-items: center;
  gap: 1rem;

  .event-edition-select {
    max-width: 12rem;
  }
}

.container-fluid{
  gap: 1rem;
}

.tamanho-texto-programacao-evento {
    width: 188px;
}

.welcome-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: black;
}

@keyframes slidNavMenu {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 650px;
  }
}

.navbar-toggler,
.navbar-menu-itens {
  animation: 1s forwards 2s 1 slidNavMenu;
  opacity: 0;
  width: 0;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9;
}

.header-placeholder {
    min-height: 126px;
    display: flex;
    align-items: center;
}

.navbar-image {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.navbar-menu-itens {
  margin-right: 3rem;
  justify-content: end;
}
.nav-wall {
  height: 40px;
}

.navbar{
  padding: 25px;
}

.nav-tg{
  max-width: 95%;
}

.nav-link{
  text-align: center;
  width: fit-content;
}

@media (max-width:1000px)  {
    .navbar-menu-itens {
        margin-right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-fluid {
        justify-content: center !important;
    }
    .vr {
        display: none;
    }
    .header-placeholder {
        min-height: 152px;
    }

    .navbar{
      padding: 5px;
    }

}

@media (min-width: 1001px) {

    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 500px) {
  #event-edition-select {
    max-width: 6rem ;
    font-size: 12px;
    text-wrap: wrap;
  }
}
